*.log
*.tmp
*.bak
*.swp
*.swo
*~
*.DS_Store
Thumbs.db
*.out
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
*.xcodeproj
*.xcworkspace
Desktop.ini
/dist/
/build/